html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
  font-family: 'Coda', cursive;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

/*
 * Card animations
 */

@keyframes show-card {
  from {
    transform: rotateY(180deg);
  }
  to {
    transform: rotateY(0deg);
  }
}

@keyframes match-card {
  from {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 0.8);
  }
  60% {
    transform: scale(0.8, 1.2);
  }
  70% {
    transform: scale(1.1, 0.9);
  }
  80% {
    transform: scale(0.95, 1.05);
  }
  90% {
    transform: scale(1, 1);
  }
}

@keyframes mismatch-card {
  from {
    transform: rotate(-10deg);
  }
  25% {
    transform: translate(-30px) rotate(-10deg);
  }
  50% {
    transform: rotate(0);
  }
  75% {
    transform: translate(30px) rotate(10deg);
  }
  to {
    transform: rotate(0);
  }
}

/*
 * Styles for the deck of cards
 */

.deck {
  width: 660px;
  min-height: 680px;
  background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
  padding: 32px;
  border-radius: 10px;
  box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 3em;
  perspective: 3000px;
}

.deck .card {
  height: 125px;
  width: 125px;
  background: #2e3d49;
  font-size: 0;
  color: #ffffff;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
  animation: 0.5s ease-out show-card;
  background: #02b3e4;
  cursor: default;
}

.deck .card.show {
  font-size: 33px;
}

.deck .card.match {
  cursor: default;
  animation: 1s match-card;
  background: #02ccba;
  font-size: 33px;
}

.deck .card.mismatch {
  cursor: default;
  animation: 0.25s mismatch-card;
  background: #EA4D3E;
  font-size: 33px;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
  text-align: left;
  width: 345px;
  margin-bottom: 10px;
}

.score-panel .stars {
  margin: 0;
  padding: 0;
  display: inline-block;
  margin: 0 5px 0 0;
}

.score-panel .stars li {
  list-style: none;
  display: inline-block;
}

.score-panel .timer {
  margin-left: 4em;
}

.score-panel .restart {
  float: right;
  cursor: pointer;
}

/*
 * Styles for the congratulations popup modal
 */

.win-modal {
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  text-align: center;
}

.win-modal .check-mark {
  font-size: 5em;
  font-weight: 100;
  border: 1px solid #BADDA8;
  border-radius: 50%;
  margin: 0;
  color: #ABE792;;
  width: 1.5em;
}

.continue-button {
  background-color: #0FCEA6;
  text-decoration: none;
  color: white;
  padding: 0.5em 2em;
  border-radius: 5%;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*
 * Responsive styles
 */

@media screen and (max-width: 680px) {
  .deck {
    width: 480px;
    min-height: initial;
    justify-content: center;
    padding: 32px 0;
  }
  .deck .card {
    margin: 10px;
  }
}

@media screen and (max-width: 520px) {
  .deck {
    width: 320px;
  }
}

@media screen and (max-width: 420px) {
  .deck {
    width: 100%;
    border-radius: initial;
  }
  .score-panel {
    width: 300px;
  }
  .score-panel .timer {
    margin-left: 2em;
  }
}
